@model Pipelights.Website.Models.Cart

@{
    ViewData["Title"] = "Index";
}
<style>
    .butoninapoi {
        background-color: #212529;
        border-color: #212529;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        height: 32px;
        line-height: 32px;
        padding: 0px 24px 5px 24px;
        border-radius: 7px !important;
        transition: .4s ease-in-out;
        letter-spacing: 2px;

    }

    .butoninapoi:hover {
            background-color:#F0B250;
            border-color: #F0B250;
        }

    .butoninapoi1 {
        background-color: #F0B250;
        border-color: #F0B250;
        color: ##212529;
        text-transform: uppercase;
        font-size: 1rem;
        height: 32px;
        line-height: 32px;
        padding: 0px 30px 14px 30px;
        border-radius: 7px !important;
        transition: .4s ease-in-out;
        letter-spacing: 2px;

    }

    .butoninapoi1:hover {
            background-color:#212529;
            border-color: #212529;
            color:white;
        }


</style>

<br />

<div>
    
    <hr />
    <div class="container">
        @if (Model?.ProductsForCart == null || !Model.ProductsForCart.Any())
        {
            <div class="row">
                <div style="text-align: center ">
                    <h3 style="color:#212529;margin-top: 100px;margin-bottom: 60px;">Nu ai produse in cos</h3>
                    <h4 style="color:#212529">Poti adauga produse prin apasarea butonului 'Adauga in cos' din dreptul fiecarui produs dorit.</h4>

                    <div style="display: flex;justify-content: center; margin-top:70px">
                        <a href="~/Products/Index?Id=toateprodusele">
                            <h4 class="btn btn-primary" style="">
                                Inapoi la Produse
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var product in Model.ProductsForCart)
            {
                <div class="row" style="margin-top: 20px; display:flex; justify-content:center">
                    <div style="display:flex; flex-direction:column; justify-content:space-between; align-items:center" class="col-lg-6 col-md-6 col-sm-10">

                        <img src="@product.ProductDetails.MainImage" style="width: 150px;" />
                        <span style="padding:10px 20px 10px 20px; text-align:center">@product.ProductDetails.Name</span>
                        <span style="padding:10px 20px 10px 20px; text-align:center">@product.ProductDetails.Price RON</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6" style="display:flex; flex-direction:column; justify-content:space-between; align-items:center">

                                <form method="post" action="~/Cart/EditQuantity">
                                    <input type="hidden" name="id" value="@product.ProductDetails.Id" /> <br /><br />
                                    <input type="number" name="quantity" value="@product.Quantity" style="width: 47px;" />
                                    <input type="submit" class="btn btn-primary shadow-none btn-cart-main" value="Actualizeaza" />
                                </form>
                            </div>
                            <div class="col-md-6" style="display:flex; flex-direction:column; justify-content:space-between; align-items:center">
                                <form method="post" action="~/Cart/RemoveItem">
                                    <input type="hidden" name="id" value="@product.ProductDetails.Id" /><br /><br />
                                    <input type="submit" class="btn btn-primary shadow-none btn-cart-main" value="Sterge din cos" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <br />
            <br />
            <form method="post" action="~/Cart/GoToCheckout">
                <div style="display: flex;justify-content: center;">
                    <input type="submit" class="btn btn-secondary shadow-none btn-cart-main" 
                           value="Finalizaeaza comanda" />
                </div>
            </form>
        }
    </div>
</div>
<script>


    const navItemsCart = document.getElementsByClassName('nav-item');
    const cartUnderlined = document.getElementById('cart');

    for(var i=0; i<navItemsCart.length;i++){
        navItemsCart[i].classList.remove('active');
        cartUnderlined.classList.add('active');
    }
    
   
</script>