@using Microsoft.AspNetCore.Http
@model IEnumerable<Pipelights.Website.BusinessService.Models.ProductDetailsDto>

@{
    ViewData["Title"] = "Dashboard";
}


<style>
    footer {
        display: none;
    }
</style>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <h2>Bine ai venit! Aici poti modifica serviciile!</h2>
    </div>

    <br />
    <br />

    <div class="row">

        <div class="col-md-4">
            <div class="product-item">
                <div class="down-content">
                    <a href="~/Admin/EditService">
                        <h4 style="
                                      background-color: blue;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                            Adauga serviciu!
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <br />
        <br />
        <br />
        <br />

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="product-item">

                        <img width="250px" src="@item.MainImage">
                        <div class="down-content">
                            <a href="#"><h4>@item.Name</h4></a>
                            <p>Descriere: @((item.Description.Length > 150) ? item.Description.Substring(0, 150) + "..." : item.Description)</p>
                            <p> Pret: @item.Price</p>
                            <p>Pret redus: @item.PriceReduced</p>
                            @if (item.IsInactive)
                            {
                                <p style="background-color: bisque;padding: 5px;border-radius: 3px;"><b>Lampa Inactiva</b></p>
                            }
                        </div>
                        <div class="down-content">
                            <a href="~/Admin/EditService?id=@item.Id">
                                <h4 style="width:250px;
                                      background-color: olive;
                                      color: white;
                                      padding: 6px;
                                      border-radius: 7px;">
                                    Editeaza serviciu
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


