@model Pipelights.Website.BusinessService.Models.ProductDetailsDto

@{
    ViewData["Title"] = "DetailsForService";
}

<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h3 class="display-5 mb-4">@Model.Name</h3>
                    </div>
                    <p class="mb-4 pb-2">@Html.Raw(Model.Description)</p>
                   
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="@Model.MainImage" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid overflow-hidden px-lg-0 mx-auto" style="margin: 6rem 0;">
    @if (Model.Resources != null && Model.Resources.Any())
    {
        @for (int i = 0; i < Model.Resources.Count; i += 3)
        {
            <div class="row">
                @for (int j = 0; j < 3 && (i + j) < Model.Resources.Count; j++)
                {
                    <div class="col-md-4">
                        <img src="@Model.Resources[i + j]" class="img-fluid my-3" alt="Image @(i + j + 1)" style="height: 300px;">
                    </div>
                }
            </div>
        }
    }
</div>




<div class="section-title text-center">
    <a href="~/Home/Contact" class="btn btn-primary mx-3">Cere oferta</a>
    <a href="~/Home/Services" class="btn btn-secondary mx-3">Vezi toate serviciile</a>
</div>
<!-- Feature End -->