@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Pipelights.Website.BusinessService.Models.ProductDetailsDto>


@{
    ViewData["Title"] = "Corpuri de iluminat in stil industrial by SeRox";
}


<div class="container">
    <div>
        <div class="section-heading">
            <h2>Latest Products</h2>
            <a href="~/Products/Index">view all products <i class="fa fa-angle-right"></i></a>
        </div>
    </div>

    <br />
    <h3>@ViewBag.Categories</h3>
    <br />

    @*
    <div class="container">
    <div class="row">
    <div class="range col-2">
    <div class="range-slider">
    <span class="range-selected"></span>
    </div>
    <div class="range-input">
    <input type="range" class="min" min="0" max="1000" value="0" step="1">
    <input type="range" class="max" min="0" max="1000" value="1000" step="1">
    </div>
    <div class="range-price">
    <input type="text" name="min" value="0">
    <input style="text-align:end" type="text" name="max" value="1000">
    </div>
    </div>
    </div>
    </div>*@
    <div style="width:100%; display:flex;justify-content:end; align-items:end">
        <div class="btn-group dropleft">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sorteaza
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="~/Products/Sort?Id=price">Pret crescator</a>
                <a class="dropdown-item" href="~/Products/Sort?Id=priceDesc">Pret descrescator</a>
                <a class="dropdown-item" href="~/Products/Sort?Id=name">Nume crescator</a>
                <a class="dropdown-item" href="~/Products/Sort?Id=nameDesc">Nume descrescator</a>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        @foreach (var lampEntity in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                <div class="product-item">
                    <a href="~/Products/Details?Id=@lampEntity.Id">
                        <img src="@lampEntity.MainImage" alt="">
                        <div class="down-content">
                            <h4 class="truncated-name"  style="color:#212529">@lampEntity.Name</h4>
                            @if (!string.IsNullOrWhiteSpace(lampEntity.PriceReduced))
                            {
                                <div style="color:#212529"> <strike>Pret intreg: @lampEntity.Price RON </strike></div>
                                <div style="color:#212529">Pret redus: @lampEntity.PriceReduced RON</div>
                            }
                            else
                            {
                                <div style="color:#212529">@lampEntity.Price RON</div>
                            }

                            <form method="post" action="~/Cart/AddProduct">
                                <div style="margin-top: 15px">
                                    <input type="hidden" name="id" value="@lampEntity.Id" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <input type="submit" class="btn shadow-none btn-cart-main submit" value="Adauga in cos" />
                                </div>
                            </form>

                            @*<p>@lampEntity.Description</p>*@
                            @*<ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        </ul>*@
                            @*<span>Reviews (24)</span>*@
                        </div>
                    </a>
                </div>
            </div>
        }

    </div>
</div>

@*style for button "adauga in cos"*@
<style>
    .btn-cart-main {
        background: #212529;
        border-color: #212529;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
        border-radius: 7px !important;
        transition: .4s ease-in-out;
        letter-spacing: 2px;
    }

        .btn-cart-main:hover {
            background: #F0B250;
            border-color: #F0B250;
        }

        .btn-cart-main:focus {
            outline: none;
        }

    .product-item {
    }

        .product-item:hover {
            opacity: .8;
        }


    @@media (max-width: 767px) {
        .product-item .down-content h4 {
            margin-bottom: 10px;
            font-size: 12px;
        }

        .priceDiv {
            font-size: 14px;
        }

        .btn-cart-main {
            background: #212529;
            border-color: #212529;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            height: 28px;
            line-height: 22px;
            padding: 0 10px;
            border-radius: 7px !important;
            transition: .4s ease-in-out;
            letter-spacing: 1px;
        }

        .truncated-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('.truncated-name').each(function () {
            var spanElement = $(this).children('span');
            if (spanElement.get(0).scrollWidth > spanElement.innerWidth()) {
                $(this).addClass('tooltip');
                $(this).attr('title', spanElement.text());
            }
        });
    });

    //to do - move this code into master file
    const navItems = document.getElementsByClassName('nav-item');

    for (var i = 0; i < navItems.length; i++) {
        navItems[i].classList.remove('active');
        if (navItems[i].innerText == 'Produse') {
            navItems[i].classList.add('active');
        }
    }

</script>